<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sitesite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" >
    <link rel="stylesheet" href="~/sitesite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="toolBar">
            <a style="display: inline; margin-left: 0; width: 100px; height: 30px; vertical-align: middle;" href="#">
                <img src="~/img/imgN.png">
                nicepage
            </a>
            <div style="display: inline; margin-left: calc(50% - 175px); height: 30px; width: 150px;">
                <a href="#"><img src="~/img/img1.png"></a>
                <a href="#"><img src="~/img/img2.png"></a>
                <a href="#"><img src="~/img/img3.png"></a>
                <a href="#"><img src="~/img/img4.png"></a>
                <a href="#"><img src="~/img/img5.png"></a>
            </div>
            <div style="display: inline;margin-left: calc(50% - 30px); width: 30px;height: 30px; font-family: sans-serif; font-weight: 700;">
                <span style="cursor: pointer;">&times;</span>
            </div>
        </nav>
        <div class="cabecalho">
            <span style="font-family: cursive; font-weight: 500; color: darkgray">logo</span>
            <span style="font-size: 30px;">&equiv;</span>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>