@page
@model sitesite.Pages.Clientes.delete
@{
    ViewData["Title"] = "Confirme a Operação";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>Deseja deletar o cliente: @Model.cliente.Nome?<h2>
    <form method="post">
        <input type="hidden" name="id" value="@Model.cliente.Id">
        <input class='btn btn-primary' type="submit" value="Confirmar">
        <a class='btn btn-danger' href="/Clientes">Cancelar</a>
    </form>
</div>