body {
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: auto;
    color: #000;
}
#title{
    width: 160px;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-align: left;
}
#servicos{
    width: 160px;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: xx-large;
    border-bottom: 3px solid #FFFFFF;
}
#icones{
    width: 200px;
    display: inline-block;
}
.toolBar {
    background-color:#f3f2ed;
    padding: 3px;
}
.cabecalho {
    text-align: center;
}
.cabecalho span {
    display: inline-block;
    width: 350px;
}
.parteUm {
    display: inline-block;
    margin-top: 0px;
    width: 64%;
    height: 300px;
    background: linear-gradient(90deg, #715f5bcb 5%, #715f5b77 30%, #ffffff00 100%);
}
.parteUm .conteudo1 {
    display: inline-block;
    height: 100%;
    width: calc(100% - 28px);
    background-image: url("/img/rolo_pintura.png");
    background-repeat: no-repeat;
    background-position: 70% 100%;
}
.parteUm .conteudo1 main {
    color: #FFFFFF;
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.parteUm .conteudo2 {
    display: inline-block;
    margin-left: -4px;
    height: 100%;
    width: 28px;
    background-image: url("/img/dedo_mulher.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.parteDois {
    background: linear-gradient(43deg, #715f5b98 5%, #715f5b 100%);
    margin-top: 0px;
    display: inline-block;
    margin-left: -4px;
    width: 36%;
    height: 300px;
}
.parteDois .conteudo {
    background-image:  url("/img/mulher_recortada.png");
    background-repeat: no-repeat;
    height: 100%;
    background-position: -0% 100%;
}
.parteTres {
    display: block;
    width: 35%;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-position: 50% -30%;
    text-align: center;
    margin-left: 30%;
    width: 40%;
}
button {
    width: 130px;
    height: 30px;
    font-size: 11px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
    background-color: red;
    cursor: pointer;
}
h4{
    color: darkgray;
    font-weight: 700;
}
h3 {
    font-weight: 700;
}
.icone{
    padding: 5px;
    color: white;
    display: inline-block;
    font-size: xx-small;
}
.icone a{
    color: white;
}