@page
@model IndexModel
@{
    ViewData["Title"] = "Meu site da prova";
}


<div class="cont">
    <div>
        <article class="parteUm">
            <section class="conteudo1">
                <main>
                    <h2><div id="title">CONSERTO DE CASA</div></h2>
                    <h1><div id="servicos">SERVIÇOS</div></h1>
                    <div><div id="icones">
                        <div class="icone">
                            <a href="#"><img src="~/img/quadro.png"><br>QUADRO</a>
                        </div>
                        <div class="icone">
                            <a href="#"><img src="~/img/limpeza.png"><br>LIMPEZA</a>
                        </div>
                        <div class="icone">
                            <a href="#"><img src="~/img/encanamento.png"><br>ENCANAMENTO</a>
                        </div>
                        
                        
                    </div></div>
                </main>
            </section>
            <section class="conteudo2">
            </section>
        </article>
        <section class="parteDois">
            <main class="conteudo">

            </main>
        </section>
    </div>
    <article>
        <section class="parteTres">
            <main>
                <h4>NOSSOS<br>SERVIÇOS</h4>
                <h3>Como podemos te ajudar?</h3>
                <div>
                    <p>Somo especializados em tornar as experiências de manutenção de rotina e reparos
                    de emergência sem preocupações Ligue para nós hoje para saber como nosso 
                    <span>processo realmente é simples</span>                   
                </p>
                </div>
                <div>
                    <a class="btn-agendar" asp-area="" asp-page="/Cadastro">AGENDAR AGORA</a>
                </div>
            </main>
        </section>
    </article>
</div>
