@page
@model IndexModel
@{
    ViewData["Title"] = "Meu site da prova";
}

<header>
    <nav class="toolBar">
        <a style="display: inline; margin-left: 0; width: 100px; height: 30px; vertical-align: middle;" href="#">
            <img src="~/img/imgN.png">
            nicepage
        </a>
        <div style="display: inline; margin-left: calc(50% - 175px); height: 30px; width: 150px;">
            <a href="#"><img src="~/img/img1.png"></a>
            <a href="#"><img src="~/img/img2.png"></a>
            <a href="#"><img src="~/img/img3.png"></a>
            <a href="#"><img src="~/img/img4.png"></a>
            <a href="#"><img src="~/img/img5.png"></a>
        </div>
        <div style="display: inline;margin-left: calc(50% - 30px); width: 30px;height: 30px; font-family: sans-serif; font-weight: 700;">
            <span style="cursor: pointer;">&times;</span>
        </div>
    </nav>
    <div class="cabecalho">
        <span style="font-family: cursive; font-weight: 500; color: darkgray">logo</span>
        <span style="font-size: 30px;">&equiv;</span>
    </div>
</header>
<div class="cont">
    <div>
        <article class="parteUm">
            <section class="conteudo1">
                <main>
                    <h2><div id="title">CONSERTO DE CASA</div></h2>
                    <h1><div id="servicos">SERVIÇOS</div></h1>
                    <div><div id="icones">
                        <div class="icone">
                            <a href="#"><img src="~/img/quadro.png"><br>QUADRO</a>
                        </div>
                        <div class="icone">
                            <a href="#"><img src="~/img/limpeza.png"><br>LIMPEZA</a>
                        </div>
                        <div class="icone">
                            <a href="#"><img src="~/img/encanamento.png"><br>ENCANAMENTO</a>
                        </div>
                        
                        
                    </div></div>
                </main>
            </section>
            <section class="conteudo2">
            </section>
        </article>
        <section class="parteDois">
            <main class="conteudo">

            </main>
        </section>
    </div>
    <article>
        <section class="parteTres">
            <main>
                <h4>NOSSOS<br>SERVIÇOS</h4>
                <h3>Como podemos te ajudar?</h3>
                <p>Somo especializados em tornar as experiências de manutenção de rotina e reparos
                    de emergência sem preocupações Ligue para nós hoje para saber como nosso 
                    <span>processo realmente é simples</span>                   
                </p>
                <br>
                <button onclick="msg('Você será redirecionado')">AGENDAR AGORA</button>
            </main>
        </section>
    </article>
</div>
